<h1><%=@character_api["name"]%></h1>

<div>
<%= image_tag(@character_api["img"], :height => '15%', :width => '15%') %>
<span><h4> Sobrenombre: <%= @character_api["nickname"]%></h4></span>
<h4> Actor/Actriz: <%= @character_api["portrayed"]%></h4>
<h4> Status: <%= @character_api["status"]%></h4>
<h4> Ocupación: </h4>
<% @character_api["occupation"].each do |occupation| %>
<p><%= occupation %></p>
<%end%>

<h4> Temporadas de Breaking Bad: </h4>
<% if @character_api["appearance"].empty? %>
<p>No aparece en esta serie</p>  
<% end %>
<% @character_api["appearance"].each do |appearance| %>
<span><%= link_to appearance, season_bb_path(appearance) %></span>
<%end%>

<h4> Temporadas de Call Saul: </h4>
<% if @character_api["better_call_saul_appearance"].empty? %>
<p>No aparece en esta serie</p>
<% end %>
<% @character_api["better_call_saul_appearance"].each do |better_call_saul_appearance| %>
<span><%= link_to better_call_saul_appearance, season_bcs_path(better_call_saul_appearance) %></span>
<%end%>
</div>

<div>
<h3>Citas</h3>
<% if @quotes_api.empty? %>
  <p>No hay citas</p>
<% end %>

<% @quotes_api.each do |quote| %>
<p><%= quote["quote"] %></p>
<%end%>

</div>

